.nav{
    position: fixed;
    top:0;
    width:100%;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
    font-size: 1.25rem;
    border-bottom: 1px solid red
}

.nav li img{
    position: absolute;
    left: 0;
}